h1 {
  font-size: 18px;
}
/*
table {
  border-spacing: 2px;
}
table td {
  border: solid 0.5px #ccc;
  box-sizing: border-box;
}
table td.selected {
  border: solid 3px #4c2;
}
*/
.board {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 2px;
  width: 328px;
  justify-content: start;
}
.board div {
  box-sizing: border-box;
  border: solid 0.5px #ccc;
}
.board div.selected {
  border: solid 3px #4c2;
}
.container {
  margin-left: 20px;
}
.reset {
  width: 120px;
  height: 42px;
  background-color: #88c;
  font-weight: bold;
  color: #622;
  font-size: 20px;
}
#card-list {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.1);
  right: auto;
}
#card-list div {
  width: 342px;
}
#card-list button, .board div {
  width:64px;
  height:64px;
  background-repeat: no-repeat;
  background-size: contain;
}
.cover_1 {
  background-image: url('../pic/pair/cover_1.png');
}
.cover_2 {
  background-image: url('../pic/pair/cover_2.png');
}
.mayor {
  background-image: url('../pic/pair/mayor.png');
}
.wesson {
  background-image: url('../pic/pair/wesson.png');
}
.catnips {
  background-image: url('../pic/pair/catnips.png');
}
.yang {
  background-image: url('../pic/pair/yang.png');
}
.astronaut {
  background-image: url('../pic/pair/astronaut.png');
}
.wolf {
  background-image: url('../pic/pair/wolf.png');
}
.moonbug {
  background-image: url('../pic/pair/moonbug.png');
}
.tsukiyomi {
  background-image: url('../pic/pair/tsukiyomi.png');
}
.metallia {
  background-image: url('../pic/pair/metallia.png');
}
.common {
  background-image: url('../pic/pair/common.png');
}
.king {
  background-image: url('../pic/pair/king.png');
}
.crown {
  background-image: url('../pic/pair/crown.png');
}
.plus1 {
  background-image: url('../pic/pair/plus1.png');
}
.plus2 {
  background-image: url('../pic/pair/plus2.png');
}
.purple {
  background-image: url('../pic/pair/purple.png');
}
.blue {
  background-image: url('../pic/pair/blue.png');
}
.green {
  background-image: url('../pic/pair/green.png');
}
.brown {
  background-image: url('../pic/pair/brown.png');
}
.lychee {
  background-image: url('../pic/pair/lychee.png');
}
.greenapple {
  background-image: url('../pic/pair/greenapple.png');
}
.blueberry {
  background-image: url('../pic/pair/blueberry.png');
}
.grape {
  background-image: url('../pic/pair/grape.png');
}
.banana {
  background-image: url('../pic/pair/banana.png');
}
