h1 {
  font-size: 18px;
}
table {
  border-spacing: 2px;
}
table td {
  border: solid 0.5px #ccc;
  box-sizing: border-box;
}
table td.selected {
  border: solid 1.5px #cc2;
}
.reset {
  width: 120px;
  height: 42px;
  background-color: #88c;
  font-weight: bold;
  color: #000;
}
#card-list {
  width: 360px;
}
#card-list button, td {
  width:64px;
  height:64px;
  background-repeat: no-repeat;
  background-size: contain;
}
.cover_1 {
  background-image: url('../pic/pair/cover_1.png');

}
.cover_2 {
  background-image: url('../pic/pair/cover_2.png');
}
.mayor {
  background-image: url('../pic/pair/mayor.png');
}
.wesson {
  background-image: url('../pic/pair/wesson.png');
}
.catnips {
  background-image: url('../pic/pair/catnips.png');
}
.yang {
  background-image: url('../pic/pair/yang.png');
}
.astronaut {
  background-image: url('../pic/pair/astronaut.png');
}
.wolf {
  background-image: url('../pic/pair/wolf.png');
}
.moonbug {
  background-image: url('../pic/pair/moonbug.png');
}
.tsukiyomi {
  background-image: url('../pic/pair/tsukiyomi.png');
}
.metallia {
  background-image: url('../pic/pair/metallia.png');
}
.common {
  background-image: url('../pic/pair/common.png');
}
.king {
  background-image: url('../pic/pair/king.png');
}
.crown {
  background-image: url('../pic/pair/crown.png');
}
.plus1 {
  background-image: url('../pic/pair/plus1.png');
}
.plus2 {
  background-image: url('../pic/pair/plus2.png');
}
.purple {
  background-image: url('../pic/pair/purple.png');
}
.blue {
  background-image: url('../pic/pair/blue.png');
}
.green {
  background-image: url('../pic/pair/green.png');
}
.brown {
  background-image: url('../pic/pair/brown.png');
}